<% layout("Layouts/boilerplate") %>
    <h2>List</h2>
    <ul>
      <li>Title: <%=list.title%></li>
      <li>Description: <%=list.description%></li>
      <li>Price: &#8377; <%= list.price.toLocaleString('en-IN') %></li>
      <li>Location: <%=list.location%></li>
      <li>Country: <%=list.country%></li>
      <img style="height: 300px; width: 300px" src="<%=list.image%>" />
    </ul>
    <form action="/listings/<%=list._id%>/edit" method="get">
      <button>Edit</button>
    </form>
    <form action="/listings/<%=list._id%>?_method=DELETE" method="post" >
      <button>Delete</button>
    </form>
  </body>
</html>
